.gradle
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### project ###
./search-blog/.idea
./search-blog/.gradle
./search-blog/build/
!./search-blog/gradle/wrapper/gradle-wrapper.jar

./infrastructure/.idea
./infrastructure/.gradle
./infrastructure/build/
!./infrastructure/gradle/wrapper/gradle-wrapper.jar
